body {
  margin: 0%;
  text-align: center;
  font-family: "Playfair Display", serif;
}
h1 {
  font-family: "Courgette", cursive;
  margin-top: 0px;
}
h2 {
  font-family: "Playfair Display", serif;
}
h3 {
  font-family: "Playfair Display", serif;
}

.top {
  background-color: #bfeaf5;
  margin: 0px;
  text-align: center;
  position: relative;
  padding-top: 50px;
}

#pro {
  text-decoration: underline;
}
#profile {
  border-radius: 100%;
}
.topImage {
  display: absolute;
  right: 100px;
}
