body {
  margin: 0%;
}
h1 {
  margin-top: 0px;
}
.top {
  background-color: #bfeaf5;
  margin: 0px;
  text-align: center;
  position: relative;
  padding-top: 50px;
}
.middle {
  background-color: red;
  height: 200px;
  width: 200px;
}
.bottom {
  background-color: blue;
  height: 200px;
  width: 200px;
}
#pro {
  text-decoration: underline;
}
.topImage {
  display: absolute;
  right: 100px;
}
